table{
    border-collapse: collapse;
    width: 700px;
    height: 450px;
    border: 1px solid black;
}
tr:first-child{
    background-color: green;
    color: white;
}
.ab{
    color: red;
}
.cd{
    background-color: grey;
}
tr:nth-child(2){
    background-color: green;
    color:white;
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
}
table,th,td{
    border: 1px solid blue;
}
table{
    border-collapse: collapse;
    padding-bottom: 5px;
}